---
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:2.4.15@sha256:827fb37bba71e1f9254b20a6666bc881bab5bcf20057ff2e882d0be43048d92c # editorconfig-checker-disable-line
    environment:
      PUID: "{{ ansible_manager_user_uid }}"
      PGID: "{{ ansible_manager_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/heimdall:/config"
    ports:
      - "180:80"
      - "1443:443"
    restart: always
