---
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:2.4.15@sha256:68861f38dd3eae7d2f7190bb06cbc6f510031f5681419080d0525a9a67493eb3 # editorconfig-checker-disable-line
    environment:
      PUID: "{{ ansible_manager_user_uid }}"
      PGID: "{{ ansible_manager_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/heimdall:/config"
    ports:
      - "180:80"
      - "1443:443"
    restart: always
