---
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:2023.1.2@sha256:586c0edf1bece2b35a6362a82fd7ab9b6832aba3b228e8cf944e438a2685b1db # editorconfig-checker-disable-line
    environment:
      PUID: "{{ ansible_manager_user_uid }}"
      PGID: "{{ ansible_manager_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/home-assistant/config:/config"
    network_mode: host
    restart: always

  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:v2.3.0@sha256:75f799e16bdfb0e72c1d6ad5bf3330c49092cd79d54c5c660cc14f6aaa3c5f4e # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/tasmoadmin/data:/data"
    ports:
      - "5880:80"
    restart: always

  mosquitto:
    image: eclipse-mosquitto:2.0.15@sha256:29c92f9144d4e65f7e647694d4b6aa7f0ac6a995bd102251ea05f7edf258ad20 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mosquitto/config:/mosquitto/config"
      - "{{ volumes_directory }}/mosquitto/data:/mosquitto/data"
      - "{{ volumes_directory }}/mosquitto/log:/mosquitto/log"
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  node-red:
    image: nodered/node-red:3.0.2@sha256:524316b9b84cb5bbfe006c117f3dad31ee806804b12e4b866047a65e2080e92d # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/node-red/data:/data"
    ports:
      - "1880:1880"
    restart: always
