---
services:
  home-assistant:
    image: lscr.io/linuxserver/homeassistant:2022.11.3@sha256:36408c7774873a51c66d9014b1e2b0e0e487663ffdfdb1e0f981576411b61871 # editorconfig-checker-disable-line
    environment:
      PUID: "{{ ansible_manager_user_uid }}"
      PGID: "{{ ansible_manager_user_gid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/home-assistant/config:/config"
    network_mode: host
    restart: always

  tasmoadmin:
    image: ghcr.io/tasmoadmin/tasmoadmin:v2.1.1@sha256:bbf6ba82367db51b4de48c998e6b5dcedc6496cd080ef2b518f7c47a0e7d6342 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/tasmoadmin/data:/data"
    ports:
      - "5880:80"
    restart: always

  mosquitto:
    image: eclipse-mosquitto:2.0.15@sha256:29c92f9144d4e65f7e647694d4b6aa7f0ac6a995bd102251ea05f7edf258ad20 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mosquitto/config:/mosquitto/config"
      - "{{ volumes_directory }}/mosquitto/data:/mosquitto/data"
      - "{{ volumes_directory }}/mosquitto/log:/mosquitto/log"
    ports:
      - "1883:1883"
      - "9001:9001"
    restart: always

  node-red:
    image: nodered/node-red:3.0.2@sha256:524316b9b84cb5bbfe006c117f3dad31ee806804b12e4b866047a65e2080e92d # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/node-red/data:/data"
    ports:
      - "1880:1880"
    restart: always
