---
name: monitoring

services:
  # image with major.minor.patch
  autoheal:
    image: willfarrell/autoheal:1.2.0@sha256:31f580ef0279eaced5b38d631b08c474d70d8403c1c2fdd6ddcf2e879d5f3f7c # editorconfig-checker-disable-line
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      AUTOHEAL_CONTAINER_LABEL: all
    restart: always

  # image with major.minor
  portainer:
    image: portainer/portainer-ce:2.19.4@sha256:908d04d20e86f07a50b0f1a029a111b89aa3089b7fc7fdf68ec1c71b025f36cd # editorconfig-checker-disable-line
    volumes:
      - "{{ volumes_directory }}/portainer:/data"

      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
      - "9000:9000"
    restart: always

  # image with major
  mongodb:
    image: mongo:4@sha256:52c42cbab240b3c5b1748582cc13ef46d521ddacae002bbbda645cebed270ec0 # editorconfig-checker-disable-line
    user: "{{ ansible_manager_user_uid }}:{{ ansible_manager_user_gid }}"
    environment:
      TZ: "{{ timezone }}"
    volumes:
      - "{{ volumes_directory }}/mongodb/db:/data/db"
    restart: always

  # image with latest
  docker-socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest@sha256:dc8ec925b1360c54e6bf350602d6faac4e33c5d8d809118e4c000c0b14a4529a # editorconfig-checker-disable-line
    environment:
      CONTAINERS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "2375:2375"
    restart: always

  # image with docker digest update (1/3)
  plex:
    image: lscr.io/linuxserver/plex:1.32.8@sha256:e495036368c2540e84ce8015209b6ee2fe9dc88f66849c9ffcc1dffb182ac8d7 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/plex/config:/config"

      - "{{ media_directory }}/tv:/tv"
      - "{{ media_directory }}/movies:/movies"
    devices:
      - /dev/dri:/dev/dri
    network_mode: host
    healthcheck:
      test: >
        (curl -f http://localhost:32400/identity && curl -f api.ipify.org) ||
        exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  # image with docker digest update (2/3)
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.6.2@sha256:ef49e9a76faa73c5a594e2dbd89b5a7a3503abe53bcde5277f999f869658cdf6 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"

      WEBUI_PORT: 28080
    volumes:
      - "{{ volumes_directory }}/qbittorrent/config:/config"

      - "{{ downloads_directory }}/torrents:/downloads"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:28080 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always

  # image with docker digest update (3/3)
  radarr:
    image: lscr.io/linuxserver/radarr:5.1.3@sha256:b4ea6d2132710253d14b2543a3acf6ad63c3feca9afd39e7de806592ec1ef466 # editorconfig-checker-disable-line
    environment:
      TZ: "{{ timezone }}"

      PUID: "{{ ansible_admin_user_uid }}"
      PGID: "{{ ansible_admin_user_gid }}"
    volumes:
      - "{{ volumes_directory }}/radarr/config:/config"

      - "{{ downloads_directory }}:/downloads"
      - "{{ media_directory }}/movies:/movies"
    network_mode: service:gluetun
    healthcheck:
      test: (curl -f http://localhost:7878 && curl -f api.ipify.org) || exit 1
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 60s
    restart: always
